@model List<Post>

<a asp-controller="Home" asp-action="NewPost">Create New Post</a>

@foreach (Post post in Model)
{
    <div class="card shadow rounded mx-auto w-75 mb-3">
        <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">@post.Topic</h4>

        <div class="card-body">
            <p class="card-text">@post.Body</p>
            <small class="text-muted">Submitted on: @post.CreatedAt</small>
        </div>

        <img src="@post.ImgUrl" alt="User Posted Img" class="card-img-bottom" />
        <a asp-controller="Home" asp-action="ViewPost" asp-route-id="@post.PostId">View Post</a>
        <a asp-controller="Home" asp-action="EditPost" asp-route-postId="@post.PostId">Edit Post</a>
    </div>
}